<div class="row">
  <div class="col-lg-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
      <h2>Year end advances</h2>
    </div>
    <%= render 'shared/advances/search_form',
      url: nesting_aware_year_end_advances_path,
      type: :yearly %>
    <%= render 'shared/advances/table' %>
    <div class="col-auto mr-auto">
      <nav aria-label="Advances list navigation">
        <%= pagy_nav_bootstrap(@pagy).html_safe %>
      </nav>
    </div>
  </div>
</div>
