<div class="row">
  <div class="col-lg-12">
    <%= render 'employees/nav_pills' %>
    <div class="tab-content">
      <div class="tab-pane active">
        <h4 class="mb-3">Create year end advance for <%= @employee.name %></h4>
        <%= render 'shared/advances/form' %>
      </div>
    </div>
  </div>
</div>
