<div class="d-flex">
  <div class="p-2">
    <%= f.primary 'Save', data: { 'disable-with': 'Saving...' } %>
  </div>
  <%- unless @employee.new_record? -%>
    <div class="p-2">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create Advance</button>
      <div class="dropdown-menu">
        <%- Deductions::TYPES.each do |advance| -%>
          <%= link_to advance.to_s.titleize,
            public_send("new_employee_#{advance.to_s.singularize}_path", @employee),
            class: 'dropdown-item'
          %>
        <%- end -%>
      </div>
    </div>
    <div class="p-2">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create Payslip</button>
      <div class="dropdown-menu">
        <%- Payslips::TYPES.each do |payslip| -%>
          <%= link_to payslip.to_s.titleize,
            public_send("new_employee_#{payslip.to_s.singularize}_path", @employee),
            class: 'dropdown-item'
          %>
        <%- end -%>
      </div>
    </div>
    <div class="ml-auto p-2">
      <%= link_to 'Delete', employee_path(@employee),
        remote: true,
        method: :delete,
        data: {
          confirm: 'Are you sure you want to delete this record?'
        },
        class: 'btn btn-danger' %>
    </div>
  <%- end -%>
</div>
