<div class="row">
  <div class="col-lg-12">
    <%= render 'employees/nav_pills' %>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="pb-2 mb-3 mb-2 mb-md-0 float-right">
          <%= link_to 'Create New Salary Advance',
            new_employee_salary_advance_path(@employee), class: 'btn btn-primary' %>
        </div>
        <%= render 'salary_advances/table' %>
      </div>
    </div>
  </div>
</div>
