<li class="list-group-item">
  <div class="d-flex">
    <div>
      <%= link_to_unless print_preview?,
        advance_billing_item_label(advance),
        edit_advance_path(advance, true)
      %>
    </div>
    <div class="ml-auto"><%= number_with_precision(advance.amount, precision: 2) %></div>
  </div>
</li>
