<div class="d-flex p-2">
  <div>
    <span class="pr-2">Date Signed:</span>
    <span><input class="printer-input" /></span>
  </div>
  <div class="ml-auto">
    <span class="pr-2">Signature:</span>
    <span><input class="printer-input" /></span>
  </div>
</div>
