<div class="d-flex">
  <div class="p-2">
    <%= f.primary 'Save', data: { 'disable-with': 'Saving...' } %>
  </div>
  <%- unless @advance.new_record? -%>
    <div class="p-2">
      <%= link_to 'Printer-friendly version',
        advance_path(@advance, false),
        target: '_blank',
        class: 'btn btn-secondary'
      %>
    </div>
    <%- unless @advance.included_in_payslip? -%>
      <div class="ml-auto p-2">
        <%= link_to 'Delete', advance_path(@advance),
          remote: true,
          method: :delete,
          data: {
            confirm: 'Are you sure you want to delete this advance?'
          },
          class: 'btn btn-danger' %>
      </div>
    <%- end -%>
  <%- end -%>
</div>
