<div class="row">
  <div class="col-lg-12">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
      <h2>Salary advances</h2>
    </div>
    <%= render 'table' %>
  </div>
</div>
