<%= render 'shared/receipts/top_row', model: @payslip %>
<div class="d-flex p-3">
  <div>
    <span class="pr-2">Salary Type:</span>
    <span><%= @payslip.salary_type.humanize %></span>
  </div>
  <div class="ml-auto">
    <span class="pr-2">Salary:</span>
    <span><%= number_to_currency @payslip.rate %></span>
  </div>
</div>
